

//overrides

.active {
    .MuiChip-root {
        color: limegreen;
        border-color: limegreen;
    }
}

.title-logo {
    background-image: linear-gradient(to right, rgb(0, 127, 255), rgb(0, 89, 178));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
	font-size: 24px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

.title-login {
    background-image: linear-gradient(to right, rgb(0, 127, 255), rgb(0, 89, 178));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 3.5rem;
}

.h-vh {
    height: calc(100vh - 128px);
}